body {
     background-color: rgb(132, 255, 0);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;
}

button {
     background-color: rgb(9, 63, 9);
     color: white;
     font-family: "Bai Jamjuree";

}

.passo {
     display: none;
}